<h1>Add a new account number</h1>
<form action="home/add_process" method="post">
	Name: <input type="text" name="account_user"><br>
	Account number: <input type="text" name="account_number">
	<input type="submit" value="add">
</form>
